{% extends 'blank.html' %}
{% load  staticfiles %}
{% load  mytag %}
{% block title %}
    测量记录数据信息
{% endblock %}
{% block topbar_title %}
    测量记录数据信息
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'china-area.js' %}"></script>

{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:14px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'select2_device' %}">测量记录</a></li>
            <li class="breadcrumb-item active">数据查看</li>
        </ol>
        <!-- Page Heading -->
        <!-- DataTales Example -->
        <table border="2">
            <tr>
                <td>&nbsp;名称&nbsp;</td>
                <td>&nbsp;测量日期&nbsp;</td>
                <td>&nbsp;起止时间&nbsp;</td>
                <td>&nbsp;间隔历时(s)&nbsp;</td>
                <td>&nbsp;所流距离(m)&nbsp;</td>
                <td>&nbsp;最大流速(m/s)&nbsp;</td>
                <td>&nbsp;最小流速(m/s)&nbsp;</td>
                <td>&nbsp;平均流速(m/s)&nbsp;</td>
            </tr>
            {% for desc in desc_list %}
            <tr>
                <td>&nbsp;{{ desc.desc }}&nbsp;</td>
                <td>&nbsp;{{ start_time }} 至 {{ end_time }}&nbsp;</td>
                <td>&nbsp;<a id="first_time{{ desc.id }}"></a><a id="zhi{{ desc.id }}"></a><a id="last_time{{ desc.id }}"></a>&nbsp;</td>
                <td>&nbsp;<a id="time_diff{{ desc.id }}">0</a> s&nbsp;</td>
                <td>&nbsp;<a id="total_nums{{ desc.id }}">0</a> m (<a id="total_nums2{{ desc.id }}">0</a> km)&nbsp;</td>
                <td>&nbsp;<a id="max_speed{{ desc.id }}">0</a> m/s&nbsp;</td>
                <td>&nbsp;<a id="min_speed{{ desc.id }}">0</a> m/s&nbsp;</td>
                <td>&nbsp;<a id="average_speed{{ desc.id }}">0</a> m/s&nbsp;</td>
            </tr>

            {% endfor %}
        </table>
{#        <p>测量时间：{{ start_time }} 至 {{ end_time }}</p>#}
        {% for desc in desc_list %}
{#            <p>#}
{#            <h6>{{ desc.desc }}:</h6>#}
{#            &nbsp;&nbsp;&nbsp;&nbsp;总漂浮历时：<a id="first_time{{ desc.id }}"></a><a id="zhi{{ desc.id }}"></a>#}
{#            <a id="last_time{{ desc.id }}"></a> <br id="br{{ desc.id }}">#}
{#            &nbsp;&nbsp;&nbsp;&nbsp;总漂浮距离：<a id="total_nums{{ desc.id }}">0</a> m#}
{#            (<a id="total_nums2{{ desc.id }}">0</a> km) <br>#}
{#            &nbsp;&nbsp;&nbsp;&nbsp;平均流速： <a id="average_speed{{ desc.id }}">0</a> m/s <br>#}
{#            </p>#}
            <p style="display: none" id="max_list{{ desc.id }}">

            </p>
        {% endfor %}

        <p id="msg"></p>
        <div class="card shadow mb-4">
            <div class="alert" style="display: none;"></div>
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                        <tr>
                            <th>采集时间</th>
                            {% for desc in desc_list %}
                                <th>{{ desc.desc }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        {#                    <tfoot>#}
                        {#                    <tr>#}
                        {#                        <th></th>#}
                        {#                        {% for desc in desc_list %}#}
                        {#                            <th>{{ desc }}</th>#}
                        {#                        {% endfor %}#}
                        {#                    </tr>#}
                        {#                    </tfoot>#}
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script>
        $(function () {
            reloadDatatables()
        });
        var total_nums = function () {
            $.ajax({
                cache: false,
                type: "POST",
                dataType: 'json',
                url: "{% url 'record_location_distance' %}",
                data: {
                    "invalid_speed": $('#invalid_speed').val(),
                    "record_id": {{ record_id }}
                },
                async: true,
                success: function (data) {
                    if (data.status === 'success') {
                        $.each(data.data_list, function (i, value) {
                            var device_id = value.device_id;
                            var desc = value.desc;
                            var total_nums = "#total_nums" + device_id;
                            var total_nums2 = "#total_nums2" + device_id;
                            var max_speed = "#max_speed" + device_id;
                            var min_speed = "#min_speed" + device_id;
                            var time_diff = "#time_diff" + device_id;
                            var average_speed = "#average_speed" + device_id;
                            var first_time = "#first_time" + device_id;
                            var last_time = "#last_time" + device_id;
                            var zhi = "#zhi" + device_id;
                            var br = "#br" + device_id;
                            var p_max_list = $("#max_list" + device_id);
                            p_max_list.html("");
                            if (value.status === 'success') {
                                console.log(value.device_data);
                                $(total_nums).html(value.device_data.total_nums);
                                $(total_nums2).html(value.device_data.total_nums2);
                                $(average_speed).html(value.device_data.average_speed);
                                $(first_time).html(value.device_data.first_time);
                                $(last_time).html(value.device_data.last_time);

                                var max_list = value.device_data.max_list;
                                $.each(max_list, function (i, value) {
                                    {#console.log(i, value);                      // i 为索引，x为 value#}
                                    var url = "#";
                                    if (value.max_speed_lon && value.max_speed_lat) {
                                        url = window.location.protocol + "//" + window.location.host;
                                        {#var max_speed_map = $('#max_speed_map');#}
                                        {#max_speed_map.show();#}
                                        console.log(value.max_speed_lon, value.max_speed_lat);
                                        url += "/dataInfo/pointMapShow/?lon=" + value.max_speed_lon + "&lat=" + value.max_speed_lat + "&speed=" + value.max_speed + "&time=" + value.max_speed_time;
                                        {#console.log(url);#}
                                    }
                                    $(max_speed).html(value.max_speed);
                                    $(min_speed).html(value.min_speed);
                                    $(time_diff).html(value.time_diff);
                                    p_max_list.append(desc + '：瞬时最大流速在：' + value.max_speed_time + '&nbsp; 瞬时最大流速：<strong><a style="font-size: 22px">' + value.max_speed + ' m/s </a></strong>&nbsp;');
                                    p_max_list.append('<a href="' +
                                        url + '" target="view_window" style="font-size: 18px">' + "<i class=\"fa fa-map-marker\">&nbsp;( " + value.max_speed_lon + ", " + value.max_speed_lat + " )</i>" + '</a>' + '<br>');
                                    p_max_list.show();
                                });

                                if (value.device_data.first_time) {
                                    $(zhi).html('&nbsp;至&nbsp;');
                                    {#$(br).show();#}
                                } else {
                                    $(zhi).html('');
                                    {#$(br).hide();#}
                                }
                            }
                        });
                    } else {
                        $('#msg').html("后台出错" + data.msg);
                    }

                }
            });
        };
        var reloadDatatables = function () {
            total_nums();
            var tables = $('#dataTable').DataTable({
                select: 'single',
                destroy: true,
                'bAutoWidth': false,
                "pagingType": "full_numbers",
                "language": {
                    "decimal": "",
                    "info": "显示 _START_ 条 至 _END_ 条 共 _TOTAL_ 条数据",
                    "infoEmpty": "没有数据",
                    "emptyTable": "没有数据",
                    "infoFiltered": "(从总数 _MAX_ 条中 过滤)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页显示 _MENU_ 条数据",
                    "loadingRecords": "加载中...",
                    "processing": "处理中...",
                    "search": "搜索:",
                    "zeroRecords": "没有搜索到数据",
                    "paginate": {
                        "first": "第一页",
                        "last": "最后一页",
                        "next": "下一页",
                        "previous": "上一页"
                    },
                    "aria": {
                        "sortAscending": ": 点击以按升序排序",
                        "sortDescending": ": 点击以按降序排序"
                    }
                },
                "autoWidth": false,	//禁用自动调整列宽
                "processing": true,//载入数据的时候是否显示“载入中”
                "aLengthMenu": [[100, 50, 25, 10], [100, 50, 25, 10]],//设置每页显示数据条数的下拉选项
                'iDisplayLength': 100, //每页初始显示5条记录
                "searching": false,//去掉搜索框
                "deferRender": true,
                "ordering": false,
                "serverSide": true, //开启服务器模式
                "ajax": function (data, callback) {
                    {#console.log(data.order);#}
                    var dataStr = $("#filterDataForm").serialize() + "&draw=" + data.draw + "&start=" + data.start + "&length=" + data.length + "&page=" + (data.start / data.length + 1);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        dataType: 'json',
                        url: "{% url 'record_location_info' record_id %}",
                        data: dataStr,
                        async: true,
                        success: function (res) {
                            {#console.log(res);#}
                            var returnData = {};
                            returnData.draw = res.draw; // 计数器
                            returnData.recordsTotal = res.recordsTotal;//返回数据全部记录
                            returnData.recordsFiltered = res.recordsFiltered;//过滤后记录
                            returnData.data = res.data; // 数据对象
                            {#console.log(returnData.data);#}
                            callback(returnData);
                            {#console.log(returnData)#}
                        },
                        error: function () {
                            alert('错误');
                        }
                    })
                },
            });
        }
    </script>
{% endblock %}