{% extends 'blank.html' %}
{% load  staticfiles %}

{% block title %}
    测量记录
{% endblock %}
{% block topbar_title %}
    测量记录
{% endblock %}
{% block other_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
    <style type="text/css">
        input[type=checkbox] {
            position: relative;
            width: 10px;
            height: 1px;
        }

        input[type=checkbox]::before {
            content: '';
            position: absolute;
            top: -15px;
            left: 0;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            color: white;
            font-size: 16px;
            background-color: #999;
            border-radius: 4px;
        }

        input[type=checkbox]:checked::before {
            color: white;
            background-color: forestgreen;
            content: '√';
        }
    </style>
{% endblock %}

{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'china-area.js' %}"></script>

{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:14px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item active">测量记录</li>
        </ol>
        <!-- Page Heading -->
        {#        <form action="" method="post" id="filterDataForm">#}
        {#            <p>#}
        {#                日期选项：#}
        {#                <input type="text" class="" id="date_time0" name="start_time"#}
        {#                       value="{{ start_time }}">#}
        {#                &nbsp;至 &nbsp;#}
        {#                <input type="text" class="" id="date_time1" name="end_time"#}
        {#                       value="{{ end_time }}">#}
        {#            </p>#}
        {#            <input type="hidden" value="{{ imei_id }}" name="imei_id">#}
        {#            <p id="all_button">#}
        {#                <a>#}
        {#                    <button type="submit" class="btn btn-success">轨迹回放</button>#}
        {#                </a>#}
        {#                <a>#}
        {#                    <button type="submit" class="btn btn-info">数据统计</button>#}
        {#                </a>#}
        {#                <a>#}
        {#                    <button type="button" class="btn btn-info">导出Excel表</button>#}
        {#                </a>#}
        {#                <a href="">#}
        {#                    <button type="button" class="btn btn-primary">重置</button>#}
        {#                </a>#}
        {#            </p>#}
        {##}
        {#            <p></p>#}
        {#            {% csrf_token %}#}

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
{#            <div class="card-header py-3">#}
{#                <h6 class="m-0 font-weight-bold text-primary">所有设备</h6>#}
{#            </div>#}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                        <tr>
                            <th>测量备注</th>
                            <th>测量设备</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>风速</th>
{#                            <th>预警速度 m/s</th>#}
                            {% if request.user.permission == "superadmin" %}
                                <th>所属公司</th>
                            {% endif %}
                            <th>操作</th>

                        </tr>
                        </thead>
{#                        <tfoot>#}
{#                        <tr>#}
{#                            <th>测量备注</th>#}
{#                            <th>测量设备</th>#}
{#                            <th>开始时间</th>#}
{#                            <th>结束时间</th>#}
{#                            <th>风速</th>#}
{#                            <th>预警速度 m/s</th>#}
{#                            {% if request.user.permission == "superadmin" %}#}
{#                                <th>所属公司</th>#}
{#                            {% endif %}#}
{#                            <th>操作</th>#}
{#                        </tr>#}
{#                        </tfoot>#}
                        <tbody id="t_body">
                        {% for record in all_test_record %}
                            <tr>
                                <td>{{ record.remarks }}</td>
                                <td>{{ record.devices_id }}</td>
                                <td>{{ record.start_time }}</td>
                                <td>{{ record.end_time|default_if_none:"正在测量" }}</td>
                                <td>{{ record.wind|default_if_none:"" }}</td>
{#                                <td>{{ record.warning_speed|default_if_none:"" }}</td>#}
                                {% if request.user.permission == "superadmin" %}
                                    <td>{{ record.company.company_name }}</td>
                                {% endif %}
                                <td>
                                    {#                                        <input type="checkbox" value="{{ record.id }}" name="checkbox"/>#}
                                    <a href="{% url 'record_location_info' record.id %}" style="text-decoration:none">
                                        <button type="button" class="btn btn-primary btn-sm" style="line-height: 1">数据查看
                                        </button>
                                    </a>
                                    </a>
                                    <a href="{% url 'record_track' record.id %}" target="view_window"
                                       style="text-decoration:none">
                                        <button type="button" class="btn btn-success btn-sm" style="line-height: 1">轨迹查看
                                        </button>
                                    </a>
                                    <a href="{% url 'record_statistical' record.id %}" style="text-decoration:none">
                                        <button type="button" class="btn btn-info btn-sm" style="line-height: 1">数据统计
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            onclick="return deviceb({{ record.id }})" style="line-height: 1">删除
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {#        </form>#}

    </div>
{% endblock %}

{% block other_js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    {#    <script>#}
    {#        //执行一个laydate实例#}
    {#        laydate.render({#}
    {#            elem: '#date_time0',#}
    {#            type: 'datetime'#}
    {#        });#}
    {#        laydate.render({#}
    {#            elem: '#date_time1',#}
    {#            type: 'datetime'#}
    {#        });#}
    {#    </script>#}
    <script>
        function deviceb(device_id) {
            var msg = "删除此设备将会无法恢复\n\n您真的确定要删除吗？";
            if (confirm(msg) === true) {
                if (device_id === undefined) {
                    return false
                }
                $.ajax({
                    cache: false,
                    type: "post",
                    dataType: 'json',
                    url: "{% url 'test_record_done_del' %}",
                     headers: {
                        username: '{{ request.user.username }}'
                    },
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "record_id": device_id
                    },
                    async: true,
                    success: function (data) {
                        if (data.status === 'success') {
                            alert('删除成功');
                            location.reload();
                        } else {
                            alert(data.msg);
                            location.reload();
                        }

                    }
                });
                return true;
            }
            }
    </script>
{% endblock %}