{% extends 'blank.html' %}
{% load staticfiles %}
{% block title %}
    测量记录速度走势图
{% endblock %}
{% block topbar_title %}
    测量记录速度走势图
{% endblock %}
{% block other_css %}
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
{% endblock %}
{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'select2_device' %}">测量数据</a></li>
            <li class="breadcrumb-item active">数据统计</li>
        </ol>
        测量时间：
        <span class="label label-info"> {{ start_time }}</span>
        &nbsp;至 &nbsp;
        <span class="label label-info"> {{ end_time }}</span>


        <div id="main" style="width: auto;height: 600px;"></div>
    </div>

{% endblock %}

{% block other_js %}
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script type="text/javascript">
        var dev_list = {{desc_list|safe}};
        {#console.log(dev_list);#}
        var namelist = Array();
        var serieslist = Array();

        var sendlist = {{location_data|safe}};
        var time_list = Array();

        var speed_list = new Array(dev_list.length);             //声明一维数组
        for (var x = 0; x < dev_list.length; x++) {
            speed_list[x] = new Array();        //声明二维数组
            //for (var y = 0; y < sendlist.length; y++) {
            //    speed_list[x][y] = 0;          //数组初始化为0
            //}
        }
        for (i = 0; i < sendlist.length; i++) {
            //console.log(sendlist[i][0]);
            time_list.push(sendlist[i][0]);
            for (j = 0; j < dev_list.length; j++) {
                var speeds = sendlist[i][1 + j];
                {#console.log(speeds);#}
                speed_list[j].push(speeds);
            }
        }
        for (j = 0; j < dev_list.length; j++) {
            namelist.push(dev_list[j].desc);
            console.log({name: dev_list[j].desc, type: 'line', data: speed_list[j]});
            console.log(serieslist);
            serieslist.push({name: dev_list[j].desc, type: 'line', data: speed_list[j]});
        }

        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                    toolbox: {
                        show: true,
                        feature: {
                            //dataView: {//数据视图工具，可以展现当前图表所用的数据，编辑后可以动态更新。
                            //    show: true,//是否显示组件。
                            //    readOnly: false
                            //},
                            //magicType: {//动态类型切换 示例：feature: { magicType: {type: ['line', 'bar', 'stack', 'tiled']}}
                            //    show: true,
                            //    type: ['line', 'bar']
                            //},
                            //restore: {//配置项还原。
                            //    show: true
                            //},
                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00",
                        "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707",
                        "#651067", "#329262", "#5574a6", "#3b3eac"],
                    title:
                        {
                            text: '流速球速度走势图'
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: namelist
                    }
                    ,
                    grid: {
                        left: '10%',
                        bottom: '25%',
                        right: '1%'
                        {#containLabel: true#}
                    }
                    ,
                    xAxis: {
                        boundaryGap: false,
                        type: 'category',
                        data: time_list,
                        axisLabel: {
                            interval: 100000,
                            showMinLabel: true,
                            showMaxLabel: true,
                            rotate:
                                40
                        }
                        ,
                        axisTick: {
                            alignWithLabel: true
                        }
                    },
                    yAxis: {},
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 0,
                            end: 100
                        }
                    ],
                    series: serieslist
                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            {#myChart.showLoading();#}

        })
    </script>

    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#date_time0',
            type: 'datetime'
        });
        laydate.render({
            elem: '#date_time1',
            type: 'datetime'
        });
    </script>
{% endblock %}