{% extends 'blank.html' %}
{% load staticfiles %}
{% block title %}
    流速球速度折线图
{% endblock %}
{% block topbar_title %}
    流速球速度折线图：{{ imei }}
{% endblock %}
{% block other_css %}
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <style>
        option:nth-child(1) {
            display: none;
        }
    </style>
{% endblock %}
{% block head_scripts %}
    <script src="{% static 'polyfill.js' %}"></script>
    <script src="{% static 'cascader.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="container-fluid" style="font-size:14px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">主页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'devices_info' %}">设备数据</a></li>
        <li class="breadcrumb-item active">数据统计</li>
    </ol>
        <form action="" method="post" id="filterDataForm">
            <p>
                日期选项：
                <input type="text" class="" id="date_time0" name="start_time"
                       value="{{ start_time }}">
                &nbsp;至 &nbsp;
                <input type="text" class="" id="date_time1" name="end_time"
                       value="{{ end_time }}">
            </p>

            <p id="all_button">
                <a>
                    <button type="submit" class="btn btn-primary btn-sm">筛选</button>
                </a>
                <a href="">
                    <button type="button" class="btn btn-primary btn-sm">重置</button>
                </a>

            </p>

            <p></p>
            {% csrf_token %}
        </form>
        <div id="main" style="width: auto;height: 600px;"></div>
    </div>

{% endblock %}

{% block other_js %}
    <script src="{% static 'laydate/laydate.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/defaults-zh_CN.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            {#console.log({{ all_address|safe }});#}
            {#console.log({{ all_address_count|safe }});#}
            var option = {
                    toolbox: {
                        show: true,
                        feature: {

                            saveAsImage: {
                                show: true,
                                excludeComponents:
                                    ['toolbox'],
                                title:
                                    "导出",
                                pixelRatio:
                                    2
                            }
                        }
                    },
                    color: ['#3398DB'],
                    title:
                        {
                            text: '流速球速度折线图'
                        }
                    ,
                    tooltip: {}
                    ,
                    legend: {
                        data: ['速度 m/s'],

                    }
                    ,
                    grid: {
                        left: '10%',
                        bottom: '25%',
                        right: '5%'
                        {#containLabel: true#}
                    }
                    ,
                    xAxis: {
                        {#show: false,#}
                        boundaryGap: false,
                        type: 'category',
                        data: {{ time_list|safe }},
                        axisLabel: {
                            interval: 100000,
                            showMinLabel: true,
                            showMaxLabel: true,
                            {#rotate:#}
                            {#    40#}
                        }
                        ,
                        axisTick: {
                            alignWithLabel: true
                        }
                    },
                    yAxis: {}
                    ,
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 0,
                            end: 100
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 0,
                            end: 100
                        }
                    ],
                    series: [
                        {
                            name: '速度 m/s',
                            type: 'line',
                            data: {{ speed_list|safe }},
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        position: [-15, -20],

                                    }
                                }
                            },
                        },

                    ]
                }
            ;
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            {#myChart.showLoading();#}

        })
    </script>

    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#date_time0',
            type: 'datetime'
        });
        laydate.render({
            elem: '#date_time1',
            type: 'datetime'
        });
    </script>
{% endblock %}