<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>轨迹回放</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="container"></div>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=5cda232d2d1f782a634096167304eb59">
</script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">

    //创建地图
    var map = new AMap.Map('container', {
        zoom: 15
    });


    AMapUI.load(['ui/misc/PathSimplifier', 'lib/$'], function (PathSimplifier, $) {

        if (!PathSimplifier.supportCanvas) {
            alert('当前环境不支持 Canvas！');
            return;
        }

        var obj = {{json_data | safe}};

        //just some colors
        var colors = [
            "#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00",
            "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707",
            "#651067", "#329262", "#5574a6", "#3b3eac"
        ];

        var pathSimplifierIns = new PathSimplifier({
            zIndex: 100,
            //autoSetFitView:false,
            map: map, //所属的地图实例

            getPath: function (pathData, pathIndex) {

                return pathData.path;
            },
            getHoverTitle: function (pathData, pathIndex, pointIndex) {

                if (pointIndex >= 0) {
                    //point
                    var sp = obj[0].speed[pointIndex][1];

                    return pathData.name + '，时间：' + obj[0].speed[pointIndex][0] + '，速度：' + obj[0].speed[pointIndex][1] + "，经纬度：" + obj[0].path[pointIndex];
                }
                return "";//pathData.name + '，点数量' + pathData.path.length;
            },
            renderOptions: {
                pathLineStyle: {
                    dirArrowStyle: true
                },
                getPathStyle: function (pathItem, zoom) {

                    var color = colors[pathItem.pathIndex % colors.length],
                        lineWidth = Math.round(2 * Math.pow(1.1, zoom - 3));

                    return {
                        pathLineStyle: {
                            strokeStyle: color,
                            lineWidth: lineWidth
                        },
                        pathLineSelectedStyle: {
                            lineWidth: lineWidth + 2
                        },
                        pathNavigatorStyle: {
                            fillStyle: color
                        }
                    };
                }
            }
        });

        window.pathSimplifierIns = pathSimplifierIns;

        $('<div id="loadingTip">加载数据，请稍候...</div>').appendTo(document.body);

        //$.getJSON('/media/path/'+{{json_name}}+'.json', function(d) {

        $('#loadingTip').remove();

        if (obj.length < 1) {
            alert("没有当前轨迹");
            return;
        }

        pathSimplifierIns.setData(obj);

        function onload() {
            pathSimplifierIns.renderLater();
        }

        function onerror(e) {
            alert('图片加载失败！');
        }

    });

        AMapUI.loadUI(['overlay/SimpleInfoWindow'], function (SimpleInfoWindow) {
        var a = {{json_data | safe}};
        //$.each(a[0].path, function (i, value) {
        //    console.log(i, value)
        //});
        var marker = new AMap.Marker({
            map: map,
            zIndex: 9999999,
            position: a[0].path[0]
        });

        var infoWindow = new SimpleInfoWindow({

            infoTitle: '<strong>断面流量计算</strong>',
            infoBody: '<p class="my-desc">中泓浮标系数<input type="text" value="0.85"><br><br>过水面积<input type="text"><br><br>速度<input type="text" value="待填充值"><br><br><button>计算</button></p>',

            //基点指向marker的头部位置
            offset: new AMap.Pixel(0, -31)
        });

        function openInfoWin() {
            infoWindow.open(map, marker.getPosition());
        }

        //marker 点击时打开
        AMap.event.addListener(marker, 'click', function (e) {
            openInfoWin();
            var lon_lat = [e.lnglat.getLng() + ',' + e.lnglat.getLat()];
            console.log('showInfoClick', lon_lat);
            return lon_lat

        });

    });

    //bt1的click的绑定事件
    // var bind = function () {
    //     // remove(); //防止重复绑定
    //     clickListener = AMap.event.addListener(map, "click", function (e) {
    //         console.log([e.lnglat.getLng(), e.lnglat.getLat()]);
    //         var obj = {{ json_data|safe }};
    //         console.log([obj[0].path[0][0], obj[0].path[0][1]]);
    //         if ([e.lnglat.getLng(),e.lnglat.getLat()] in obj[0].path){
    //             console.log('111')
    //         }
    //         var marker = new AMap.Marker({
    //             position: e.lnglat,
    //             map: map
    //         });
    //         AMapUI.loadUI(['overlay/SimpleInfoWindow'], function (SimpleInfoWindow) {
    //
    //             var infoWindow = new SimpleInfoWindow({
    //
    //                 infoTitle: '<strong>断面流量计算</strong>',
    //                 infoBody: '<p class="my-desc">中泓浮标系数<input type="text" value="0.85"><br><br>过水面积<input type="text"><br><br>速度<input type="text" value="待填充值"><br><br><button>计算</button></p>',
    //
    //                 //基点指向marker的头部位置
    //                 //offset: new AMap.Pixel(0, -31)
    //             });
    //
    //             function openInfoWin() {
    //                 infoWindow.open(map, marker.getPosition());
    //             }
    //
    //             //marker 点击时打开
    //             AMap.event.addListener(marker, 'click', function (e) {
    //                 openInfoWin();
    //                 var lon_lat = [e.lnglat.getLng() + ',' + e.lnglat.getLat()];
    //                 console.log('showInfoClick', lon_lat);
    //                 return lon_lat
    //
    //             });
    //
    //         });
    //     });
    // };
    // bind()
</script>
</body>
</html>